name: pull_request_builds

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:

  tests:
    runs-on: ubuntu-22.04
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
    - name: Python Version
      run: python --version
    - name: Update Pip
      run: python -m pip install --upgrade pip
    - name: Install dependencies
      run: pip install -r requirements.txt
    - name: Install rsatoolbox
      run: pip install .
    - name: Install test dependencies
      run: pip install -r tests/requirements.txt
    - name: Unit tests
      run: pytest

  source:
    needs: tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Python Version
      run: python --version
    - name: Update Pip
      run: python -m pip install --upgrade pip
    - name: Install Build
      run: pip install build
    - name: Build package
      run: python -m build --sdist
    - name: Install rsatoolbox (Linux, Mac)
      run: pip install dist/*
      if: matrix.os != 'windows-latest'
    - name: Install rsatoolbox (Windows)
      run: |
        $sdistfname = Get-ChildItem dist -Name
        pip install dist/$sdistfname
      if: matrix.os == 'windows-latest'
    - name: Install test dependencies
      run: pip install -r tests/requirements.txt
    - name: Unit tests
      run: pytest
    - name: Store artifact
      uses: actions/upload-artifact@v3
      with:
        name: sdist
        path: dist/*
        if-no-files-found: error
        retention-days: 1

  binaries:
    needs: tests
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.7', '3.8', '3.9', '3.10']
        os: [ubuntu-latest, macos-latest, windows-latest]
    steps:
    - uses: actions/checkout@v3
    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}
    - name: Python Version
      run: python --version
    - name: Update Pip
      run: python -m pip install --upgrade pip
    - name: Build package
      uses: pypa/cibuildwheel@v2.11.1
      with:
        output-dir: dist
    - name: Install test dependencies
      run: pip install -r tests/requirements.txt
    - name: Store artifact
      uses: actions/upload-artifact@v3
      with:
        name: wheel-${{ matrix.os }}-${{ matrix.python-version }}
        path: dist/*.whl
        if-no-files-found: error
        retention-days: 1
